html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: none;
  position: absolute;
  top:0;
  bottom: 0;  
  left: 0;
  right: 0;
  margin:auto;
  z-index: -1;
}

.character {
  background-color: black;
  margin-left: 43%;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  padding: 10px;
}


.charContainer {
  position: relative;
  width: 50%;
}

.charContainer .pig {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
}

.charContainer .pig:hover {
  background-color: black;
}

.charContainer .bear {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
}

.charContainer .bear:hover {
  background-color: black;
}

.charContainer .cat {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
}

.charContainer .cat:hover {
  background-or: black;
}